<h2> Blogs submitted by <%=user.name %></h2>
<div id="blogs_submitted">
  <%= render partial: @blogs_submitted %>
</div>
<h2>Blogs voted by <%= @user.name %></h2>
<div id="blogs_voted_on">
  <%= render partial: @blogs_voted_on%>
</div>
